.img {
  width: 600px;
  height: 600px;
  padding-bottom: 10px;
  transition: 0.7s ease-in-out;

}
.titleBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #71ee82;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(138, 43, 226, 0.12),
    0 2px 2px rgba(138, 43, 226, 0.12), 0 4px 4px rgba(138, 43, 226, 0.12),
    0 8px 8px rgba(138, 43, 226, 0.12), 0 16px 16px rgba(138, 43, 226, 0.22),
    2px 2px rgba(138, 43, 226, 0.82) inset;

  transition: 0.7s ease-in-out;
  cursor: none;

}
.title {
  font-family: 'Coiny', cursive;
  font-weight: 500;
  font-size: 36px;
  font-style: italic;
  color: white;
  text-shadow: 5px 5px rgb(64, 43, 226);
  transition: 0.7s ease-in-out;
  animation: pulse 4s ease-in-out infinite;

}
.autor {
  font-size: 16px;
  font-style: italic;
  font-family: 'Coiny', cursive;
  text-shadow: 5px 5px white;
  color: rgb(51, 69, 232);
}

.titleBox::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  top: 0;
  filter: blur(30px);
  transform: translateX(-200px) skewX(15deg);
  transition: 0.7s ease-in-out;
}

.titleBox::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  top: 0;
  filter: blur(5px);
  transform: translateX(-300px) skewX(-150deg);
  transition: 0.7s ease-in-out;
}

.img:hover {
  transform: scale(1.01);
}
.titleBox:hover::before,
.titleBox:hover::after {
  transform: translateX(300px) skewX(-15deg);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }

}