.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-family: Coiny;
  padding: 12px;
  font-weight: 400;
  font-size: 20px;
  color: rgb(18, 21, 225);
  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link.isActive {
  color: greenyellow;
}
.link:hover,
.link:focus {
  color: green;
}
